[package]
name = "dam-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossbeam = "0.8.2"
num = "0.4.0"
ndarray = "0.15.6"
ntest = "0.9.0"
enum_delegate = "0.2.0"

[profile.release-with-debug]
inherits = "release"
debug = true
lto = "thin"
